.hc-content
  .user__pass.row__padding
    .container
      .content__mid
        %h2.header-line Change your password
        %p

        .grid-col-12.grid-col__left
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            .field__group
              = f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password"
            .field__group
              = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password"
            = f.submit "Change my password", :class => "link-button"
          = render "companies/shared/links"
