.row
  .col-lg-12
    %h3.page-header
      Editing Terms & Conditions Chapter
      = @terms_chapter.chapter_nr

.row
  = form_for [:admin, @terms_chapter] do |f|

    .col-md-8.col-lg-9
      .form-group
        = f.label :title
        = f.text_field :title, :class => "form-control"
      .form-group
        = f.label :body
        = f.cktext_area :body, :class => "form-control"

    .col-md-4.col-lg-3
      .panel.panel-default
        .panel-heading Publish
        .panel-body
          .form-group
            = f.label 'Chapter Number'
            = f.number_field :chapter_nr, :class => "form-control"
          // Updated at
        .panel-footer
          .text-right
            = f.submit :class => "btn btn-primary"
