.hc-content
  .user__pass.row__padding
    .container
      .content__mid
        %h2.header-line Ai uitat parola?
        %p Nimic grav. E omenește. Scrie aici emailul cu care te-ai înregistrat și noi te vom ajuta să-ți reaccesezi contul. Vei primi un mesaj cu instrucțiuni simple pentru a reseta parola.

        .grid-col-12.grid-col__left
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .field__group
              = f.email_field :email, autofocus: true, :placeholder => "Email"

            = f.submit "Trimite-mi instrucțiunile", :class => "link-button"
          = render "users/shared/links"
