.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        .panel-title Premium
      .panel-body
        - Question::SINGULAR_CATEGORIES.each do |cat_key, cat_name|
          %br
          %h4.page-header= cat_name
          - if @questions[cat_key]
            - @questions[cat_key].each do |q|
              .row
                .col-lg-4
                  %label= q.template_text
                .col-lg-8
                  %p= @resume.public_send(cat_key)[q.key]
              %hr


        - Question::PLURAL_CATEGORIES.each do |cat_key, cat_name|
          %br
          %h4.page-header= cat_name
          - @resume.public_send(cat_key.pluralize).each do |answer_set|
            - if @questions[cat_key]
              - @questions[cat_key].each do |q|
                .row
                  .col-lg-4
                    %label= q.template_text
                  .col-lg-8
                    %p= answer_set[q.key]
                %hr
